@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178); /*a new color to be used */
  --color-dms-primary: var(
    --color-blue-400
  ); /* a new variable to be used i.e bg-dms-primary */
}

/*themes setting new dms variable depending on theme*/
@layer base {
  [data-theme="ehandel"] {
    --color-dms-primary: var(--color-mint-500);
  }

  [data-theme="arbetsformedling"] {
    --color-dms-primary: var(--color-red-200);
  }
}
